[Desktop Entry]
Type=Application
Name=Spacecap
Comment=Hardware accelerated replay capture tool
Exec=spacecap
Icon=logo_blue
Categories=AudioVideo;Video;
Terminal=false
